<div class="navbar navbar-default navbar-top">
    <div class="container">
        <div class="navbar-header">
            <ul id="navbarmenu1" class="nav navbar-nav navbar-right">
                <li>
                    <a id="allTag" href="#" ng-click="applyFilter('')">All</a>
                </li>
                <li>
                    <!--<a href="#portraits" >Portraits</a>-->
                    <a id="portraitTag" href="#portraits" target="_self" ng-click="applyFilter('portraits')">Portraits</a>
                </li>
                <li>
                    <a id="coupleTag" href="#couple" ng-click="applyFilter('couple')">Couple</a>
                </li>
                <li>
                    <a id="toysTag" href="#toys" ng-click="applyFilter('toys')">Toys</a>
                </li>
                <li>
                    <a id="fashionTag" href="#fashion" ng-click="applyFilter('fashion')">Fashion</a>
                </li>
                <li>
                    <!--<a href="#landscapes" >Landscapes</a>-->
                    <a id="landscapesTag" href="#landscapes" target="_self" ng-click="applyFilter('landscapes')">Landscapes</a>
                </li>
                <li>
                    <a id="kidsTag" href="#kids" ng-click="applyFilter('kids')">Kids</a>
                </li>
                <li>
                    <a id="randomTag" href="#random" ng-click="applyFilter('random')">Random</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-image-gallery images="activeImages"></ng-image-gallery>