<div id="content" style="padding: 10px 0">
    <div class="container">
        <!--             <div class="container">
         -->
        <div>
            <!--                 <div class="project-page row">
             -->
            <!-- Start Single Project Slider -->
            <div class="col-md-8">
                <ng-image-gallery images="projectImages"></ng-image-gallery>
                <!--<ng-image-gallery images="projectImages" methods="methods" on-open="openGallery1();" on-close="closed();"></ng-image-gallery>-->

            </div>

        </div>
        <!-- End Single Project Slider -->
        <!-- Start Project Content -->
        <div class="project-content col-md-4">
            <h4><span>{{title}}</span></h4>
            <p>{{description}}</p>

            <div class="post-share">
                <!--<span>Share This:</span>-->
                <a href="#" ng-click="shareOnFacebook()"><img width="150px" src="images/share-fb.png" /></a>
                <a href="#" ng-click="openTwitter()"><img width="150px" src="images/share-twitter.png" /></a>
            </div>
        </div>
        <!-- End Project Content -->

    </div>
</div>